<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/vendor/bootstrap/css/bootstrap.min.css" />
    <include path="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <include path="~/vendor/animate/animate.css" />
    <include path="~/vendor/css-hamburgers/hamburgers.min.css" />
    <include path="~/vendor/select2/select2.min.css" />
    <include path="~/css/util.css" />
    <include path="~/css/main.css" />    
    <include path="~/css/styles.css" />
    <include path="~/css/style-theme.scss.css" />
  </styleBundle>
  <styleBundle path="~/ContentAdmin/css">
    <include path="~/WebAdmin/vendors/bootstrap/dist/css/bootstrap.min.css" />
    <include path="~/WebAdmin/vendors/font-awesome/css/font-awesome.min.css" />
    <include path="~/WebAdmin/vendors/nprogress/nprogress.css" />
    <include path="~/WebAdmin/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" />
    <include path="~/WebAdmin/build/css/custom.min.css" />
  </styleBundle>
</bundles>